/* defalut */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    padding-bottom: 50px;
    text-align: center;
}

/* style */
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px 0px 0px 0px);
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.btn-more {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
}

.btn-more-black {
    background-color: #000;
    color: #fff;
}

.btn-more-white {
    background-color: #fff;
    color: #000;
}

.btn-more:hover {
    text-decoration: underline;
}

.item {
    min-height: 100px;
}

/* header */
header {
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px
}

header ul {
    display: flex;
}

header ul li {
    padding: 0 5px;
}

header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

header .bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* visual */
.visual {
    aspect-ratio: 16/9;
    background-color: gray;
}

/* special */
.special {
    padding-top: 50px;
}

.special ul {
    display: flex;
    justify-content: center;
}

.special ul li {
    padding: 0 5px;
    margin-bottom: 50px;
}

.special .item-wrap {
    display: flex;
    justify-content: space-between;
}

.special .item-box {
    position: relative;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    gap: 10px;  
    width: 48%;
}

.special .item-box.left .item:nth-child(1) {
    grid-row: 1 /  3;
}

.special .item-box.left .item:last-child {
    grid-column: 1 /  3;
}

.special .item-box::after {
    position: absolute;
    padding-bottom: 100%;
    content: '';
}

.special .item {
    background-color: #c4c4c4;
}

/* recommend */
.recommend {
    padding-top: 50px;
}

.recommend .item-box {
    display: flex;
    justify-content: space-between;
}

.recommend .item {
    width: 32%;
    background-color: #c4c4c4;
}

.recommend .item .top {
    display: flex;
}

.recommend .item .top div {
    width: 50%;
}

/* product 공통 스타일 */
.product-menu {
    display: flex;
    justify-content: center;
}

.product-menu li {
    padding: 5px 10px;
}

.product .content {
    min-height: 300px;
    background-color: #c4c4c4;
}

.product .bottom {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px 0;
    line-height: 1.4;
}

.product .bottom strong {
    font-size: 48px;
}

.product .bottom  p {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

/* mobile-pc */
.mobile-pc {
    padding-top: 50px;
}


/* story */
.story {
    padding-top: 50px;
}

.story .wrap {
    display: flex;
}

.story .left {
    display: flex;
    align-items: center;
    width: 30%;
}

.story .left h2 {
    font-size: 50px;
    text-align: left;
    letter-spacing: -4px;
}

.story .content {
    width: 40%;
    aspect-ratio: 4/3;
    background-color: #e5e5e5;
    border-radius: 20px;
}

.story .right {
    display: flex;
    align-items: center;
    width: 30%;
}

.story .right ul {
    width: 100%;
    counter-reset: numbering 0;
}

.story .right li {
    position: relative;
    padding: 22px 0 22px 45px;
    border-top: 1px solid #c4c4c4;
}

.story .right li::before {
    position: absolute;
    top: 22px;
    left: 20px;
    counter-increment : numbering; 
    content : '0' counter(numbering);
}

.story .right li a {
    display: block;
    font-size: 14px;
    text-decoration: underline;
}

/* footer */
footer {
    padding-top: 100px;
}

footer button {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    background-color: #777;
    border-radius: 50px;
    border: none;
}

footer ul li.ico {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: #c4c4c4;
}

footer .inner {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.footer-nav{
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}

.footer-nav .content-item {
    flex-grow: 1;
    border-right: 1px solid #c4c4c4;
}

.footer-nav .content-item:first-of-type {
    border-left: 1px solid #c4c4c4;
}

.footer-info .inner {
    flex-flow: column;
    font-size: 12px;
}

.footer-info p {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
}

.footer-info p span::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background-color: #c4c4c4;
}

.footer-info p span:last-child::after {
    display: none;
}

.footer-copy {
    border-top: 1px solid #c4c4c4;
}

.footer-copy .inner {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-copy ul {
    display: flex;
}

.footer-more {
    border-top: 1px solid #c4c4c4;
}

.footer-more .inner {
    justify-content: space-between;
    padding: 20px 0 30px;
}

.footer-more ul {
    display: flex;
}

@media all and (max-width: 768px) {
    /* header */
    header .bottom {
        display: none;
    }

    /* special */
    .special .item-wrap {
        flex-flow: column;
    }

    .special .item-box {
        width: 100%;
    }

    .special .item-box:first-child {
        padding-bottom: 10px;
    }

    /* story */
    .story .wrap {
        flex-flow: column;
    }

    .story .left,
    .story .right {
        width: 100%;
    }

    .story .content {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    /* footer */
    footer .inner {
        width: 100%;
        flex-flow: column;
        box-sizing: border-box;
    }

    .footer-nav {
        border-top: none;
    }

    .footer-nav .content-item {
        padding: 0 5%;
        border: none;
        border-top: 1px solid #c4c4c4;
    }

    .footer-nav .content-item:first-of-type {
        border: none;
        border-top: 1px solid #c4c4c4;
    }

    .footer-nav .content-item ul {
        display: none;
    }

    .footer-info .inner {
        padding: 0 5%;
    }

    .footer-info p {
        padding: 0;
        flex-flow: column nowrap;
    }

    .footer-info p span {
        padding-top: 10px;
    }

    .footer-info p span::after {
        display: none;
    }

    .footer-info p:nth-child(3) span {
        padding-top: 0;
    }

    .footer-copy .inner {
        padding: 0 5%;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .footer-more .inner {
        flex-flow: column nowrap;
        align-items: center;
        padding: 20px 5% 30px;
    }

    .footer-more .inner ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .footer-more .inner ul:first-child {
        display: none;
    }

    .footer-more .inner ul li:first-child {
        width: 100%;
        text-align: center;
    }  
}